div.Normal, caption.Normal
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-left: .25in;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  word-spacing: normal;
}

H1.Heading_1, div.Heading_1, caption.Heading_1
{
  border-top-style: none;
  border-top-width: 3pt;
  color: #004831;
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: xx-large;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 5pt;
  margin-left: .25in;
  margin-top: 12pt;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
  word-spacing: normal;
}

H2.Heading_2, div.Heading_2, caption.Heading_2
{
  border-top-color: #DEE4F0;
  border-top-style: solid;
  border-top-width: 2pt;
  color: #004831;
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: x-large;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 5pt;
  margin-left: .25in;
  margin-top: 12pt;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 9pt;
  word-spacing: normal;
}

div.Heading_5, caption.Heading_5
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: bolder;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 5pt;
  margin-left: .25in;
  margin-top: 12pt;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-indent: 0pt;
  word-spacing: normal;
}

div.Body_Text, caption.Body_Text
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 12pt;
  margin-left: .25in;
  margin-right: 0in;
  margin-top: 6pt;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-indent: 0pt;
  word-spacing: normal;
}

div.Code, caption.Code
{
  background-color: #F2F2F2;
  font-family: "Courier New", Courier, FreeMono, mono;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-left: .5in;
  overflow: auto;
  padding-bottom: 0px;
  padding-left: .2in;
  padding-right: 0px;
  padding-top: 0px;
  text-indent: 0pt;
  vertical-align: baseline;
  white-space: pre-wrap;
  word-spacing: normal;
}

div.List_Number, caption.List_Number
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 6pt;
  margin-left: .5in;
  margin-right: 0in;
  margin-top: 6pt;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-indent: -18pt;
  word-spacing: normal;
}

div.List_Number_3, caption.List_Number_3
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 6px;
  margin-left: 1.0in;
  margin-top: 6px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-indent: -18pt;
  word-spacing: normal;
}

div.List_Bullet_2, caption.List_Bullet_2
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 6px;
  margin-left: .75in;
  margin-right: 0px;
  margin-top: 6px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-indent: -18pt;
  word-spacing: normal;
}

div.List_Bullet, caption.List_Bullet
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 6pt;
  margin-left: .5in;
  margin-right: 0in;
  margin-top: 6pt;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-indent: -18pt;
  word-spacing: normal;
}

div.List_Continue, caption.List_Continue
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 6pt;
  margin-left: .5in;
  margin-right: 0in;
  margin-top: 6pt;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-indent: 0pt;
  word-spacing: normal;
}

div.List_Continue_2, caption.List_Continue_2
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 6px;
  margin-left: .75in;
  margin-right: 0px;
  margin-top: 6px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-indent: 0pt;
  word-spacing: normal;
}

div.Code_Indent, caption.Code_Indent
{
  background-color: #F2F2F2;
  font-family: "Courier New", Courier, FreeMono, mono;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-left: .75in;
  overflow: auto;
  padding-bottom: 0px;
  padding-left: .2in;
  padding-right: 0px;
  padding-top: 0px;
  text-indent: 0pt;
  vertical-align: baseline;
  white-space: pre;
  word-spacing: normal;
}

div.Cell_Heading, caption.Cell_Heading
{
  font-family: 'Trebuchet MS', 'Palatino Linotype', 'Book Antiqua', FreeSerif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  text-align: center;
  vertical-align: bottom;
  word-spacing: normal;
}

div.Cell_Text, caption.Cell_Text
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 0px;
  margin-left: 0in;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  word-spacing: normal;
}

div.List_Bullet_4, caption.List_Bullet_4
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 6px;
  margin-left: 1.25in;
  margin-right: 0px;
  margin-top: 6px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-indent: -18pt;
  word-spacing: normal;
}

span.Default_Paragraph_Font, span.Default_Paragraph_Font a, span.Default_Paragraph_Font a:active, abbreviation.Default_Paragraph_Font, abbreviation.Default_Paragraph_Font a, abbreviation.Default_Paragraph_Font a:active, acronym.Default_Paragraph_Font, acronym.Default_Paragraph_Font a, acronym.Default_Paragraph_Font a:active, citation.Default_Paragraph_Font, citation.Default_Paragraph_Font a, citation.Default_Paragraph_Font a:active
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;;
}

span.Code_Char, span.Code_Char a, span.Code_Char a:active, abbreviation.Code_Char, abbreviation.Code_Char a, abbreviation.Code_Char a:active, acronym.Code_Char, acronym.Code_Char a, acronym.Code_Char a:active, citation.Code_Char, citation.Code_Char a, citation.Code_Char a:active
{
  font-family: "Courier New";
}

span.Hyperlink, span.Hyperlink a, span.Hyperlink a:active, abbreviation.Hyperlink, abbreviation.Hyperlink a, abbreviation.Hyperlink a:active, acronym.Hyperlink, acronym.Hyperlink a, acronym.Hyperlink a:active, citation.Hyperlink, citation.Hyperlink a, citation.Hyperlink a:active
{
  color: #006445;
  text-decoration: underline;
}

span.Strong, span.Strong a, span.Strong a:active, abbreviation.Strong, abbreviation.Strong a, abbreviation.Strong a:active, acronym.Strong, acronym.Strong a, acronym.Strong a:active, citation.Strong, citation.Strong a, citation.Strong a:active
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;;
  font-size: small;
  font-weight: bold;
}

table.Table_Normal
{
  border-bottom-color: Silver;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-collapse: collapse;
  border-left-color: Silver;
  border-left-style: solid;
  border-left-width: thin;
  border-right-color: Silver;
  border-right-style: solid;
  border-right-width: thin;
  border-top-color: Silver;
  border-top-style: solid;
  border-top-width: thin;
  margin-left: -5.4pt;
  padding-bottom: 0pt;
  padding-left: 5.4pt;
  padding-right: 5.4pt;
  padding-top: 0pt;
  width: 90%;
}

table.Table_Grid
{
  border-bottom-color: Silver;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-collapse: collapse;
  border-left-color: Silver;
  border-left-style: solid;
  border-left-width: thin;
  border-right-color: Silver;
  border-right-style: solid;
  border-right-width: thin;
  border-top-color: Silver;
  border-top-style: solid;
  border-top-width: thin;
  width: 90%;
}

img.Default
{
  margin-left: .5in;
  overflow: scroll;
}

video.Default
{
  margin-left: .5in;
  overflow: scroll;
}

