div.Normal, caption.Normal
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-left: .25in;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  word-spacing: normal;
}

H3.Heading_3, div.Heading_3, caption.Heading_3
{
  border-top-color: #DEE4F0;
  border-top-style: solid;
  border-top-width: 2pt;
  color: #004831;
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: large;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 5pt;
  margin-left: .25in;
  margin-top: 12pt;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 9pt;
  word-spacing: normal;
}

div.List_Bullet, caption.List_Bullet
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 6pt;
  margin-left: .5in;
  margin-right: 0in;
  margin-top: 6pt;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-indent: -18pt;
  word-spacing: normal;
}

div.Body_Text, caption.Body_Text
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 12pt;
  margin-left: .25in;
  margin-right: 0in;
  margin-top: 6pt;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-indent: 0pt;
  word-spacing: normal;
}

div.Cell_Bullet, caption.Cell_Bullet
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 2pt;
  margin-left: .25in;
  margin-top: 2pt;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-indent: -18pt;
  word-spacing: normal;
}

div.Note_Image, caption.Note_Image
{
  color: #FFFFFF;
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 3pt;
  margin-left: 0in;
  margin-top: 3pt;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  word-spacing: normal;
}

div.Note_Text, caption.Note_Text
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 6pt;
  margin-left: .05in;
  margin-top: 6pt;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  word-spacing: normal;
}

div.Cell_Heading, caption.Cell_Heading
{
  font-family: 'Trebuchet MS', 'Palatino Linotype', 'Book Antiqua', FreeSerif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  vertical-align: bottom;
  word-spacing: normal;
}

div.Cell_Text, caption.Cell_Text
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 0px;
  margin-left: 0in;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  word-spacing: normal;
}

div.CellHeading, caption.CellHeading
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: small;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  vertical-align: bottom;
  word-spacing: normal;
}

H1.Heading_2_Top, div.Heading_2_Top, caption.Heading_2_Top
{
  color: #004831;
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: x-large;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 5pt;
  margin-left: .25in;
  margin-top: 12pt;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 9pt;
  word-spacing: normal;
}

span.Default_Paragraph_Font, span.Default_Paragraph_Font a, span.Default_Paragraph_Font a:active, abbreviation.Default_Paragraph_Font, abbreviation.Default_Paragraph_Font a, abbreviation.Default_Paragraph_Font a:active, acronym.Default_Paragraph_Font, acronym.Default_Paragraph_Font a, acronym.Default_Paragraph_Font a:active, citation.Default_Paragraph_Font, citation.Default_Paragraph_Font a, citation.Default_Paragraph_Font a:active
{
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;;
}

span.Hyperlink, span.Hyperlink a, span.Hyperlink a:active, abbreviation.Hyperlink, abbreviation.Hyperlink a, abbreviation.Hyperlink a:active, acronym.Hyperlink, acronym.Hyperlink a, acronym.Hyperlink a:active, citation.Hyperlink, citation.Hyperlink a, citation.Hyperlink a:active
{
  color: #006445;
  text-decoration: underline;
}

span.Code_Char, span.Code_Char a, span.Code_Char a:active, abbreviation.Code_Char, abbreviation.Code_Char a, abbreviation.Code_Char a:active, acronym.Code_Char, acronym.Code_Char a, acronym.Code_Char a:active, citation.Code_Char, citation.Code_Char a, citation.Code_Char a:active
{
  font-family: "Courier New";
}

table.Table_Normal
{
  border-bottom-color: Silver;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-collapse: collapse;
  border-left-color: Silver;
  border-left-style: solid;
  border-left-width: thin;
  border-right-color: Silver;
  border-right-style: solid;
  border-right-width: thin;
  border-top-color: Silver;
  border-top-style: solid;
  border-top-width: thin;
  margin-left: -5.4pt;
  padding-bottom: 0pt;
  padding-left: 5.4pt;
  padding-right: 5.4pt;
  padding-top: 0pt;
  width: 90%;
}

img.Default
{
  margin-left: .5in;
  overflow: scroll;
}

video.Default
{
  margin-left: .5in;
  overflow: scroll;
}

