@charset "UTF-8";
/* ~~~~ FUNCTIONS ~~~~ */
/*                     */
/*~~~~~ COLORS ~~~~~*/
/*~~~~~~~~~~~~~~~~~~*/
/* custom colors                               */
/*                                             */
/* define custom values here for easy tracking */
/* NVIDIA customization as dark green. */
/* Pale grey in the toolbar icons and text, except where we override it */
/* NVIDIA cusotmization as lime green, used in hover. */
/* Charcoal grey used in the TOC font, previously #444142. */
/* Really pale grey used only as the miniTOC background color. */
/* This is the charcoal color in the header and footer background, previously #444142. */
/* This is blue. I replaced references with $nvidia_dark_green. */
/* NOTE: Gradients as background colors are supported through linear/radial-gradient property values.*/
/*       It is suggested to put the gradient value only where it is needed, as it will cause errors  */
/*       if it is used in the darken() or lighten() functions.                                       */
/*       If a gradient value is set for a $_layout_color property, you must remove all darken() and  */
/*       lighten() calls that derive from the gradient, or there will be no color output where those */
/*       properties are used.                                                                        */
/*                                                                                                   */
/*       Usage documentation for Gradients: https://www.w3schools.com/css/css3_gradients.asp         */
/* layout colors: set these for a quick application to the output.                                   */
/*                                                                                                   */
/* this is set to NVIDIA dark green */
/* used for the TOC text color */
/* Defaults for structure items */
/*                              */
/* Mini TOC */
/*          */
/* this is NVIDIA dark green */
/* this is NVIDIA lime green */
/* Related Topics */
/*                */
/* Search Result Highlight */
/*                         */
/* Monochromatic version of NVIDIA Green */
/* colors for specific items */
/*                           */
/* toolbar */
/* menu (nav & toc/index) */
/* page */
/* disqus */
/* search */
/* header */
/* NVIDIA color change to get white text in header */
/* footer */
/* NVIDIA color change to get white text in footer */
/* back-to-top button */
/* progress bar */
/* modal (cookies disabled message) */
/*
 * lightbox
*/
/* unsupported browser */
/* no javascript warning */
/*~~~~~ FONTS ~~~~~*/
/*~~~~~~~~~~~~~~~~~*/
/*
 * toolbar
*/
/*
 * menu (nav & toc/index)
*/
/*
 * page
*/
/*
 * mini toc
*/
/*
 * related topics
*/
/*
 * search
*/
/*
 * header
*/
/* NVIDIA */
/*
 * footer
*/
/*
 * lightbox
*/
/*
 * unsupported browser
*/
/*
 * modal (cookies disabled message)
*/
/*~~~~~ ICONS ~~~~~*/
/*~~~~~~~~~~~~~~~~~*/
/*
  This file contains the character codes applied to the icons in the output.

  Usage: Find the character code of the icon to be used in the font-awesome cheatsheet.
         The 4-character code is next to it's respective icon.
         (ex: f002 for search)
         Apply to variable value in quotes and a leading backslash
         (ex: "\f002")

  font-awesome cheatsheet: https://fontawesome.com/v4.7.0/cheatsheet/

  The cheatsheet can also be found in the ePublisher Installation Directory at:

  <Install Location>/WebWorks/ePublisher/<version>/Helpers/font-awesome/Font Awesome Cheatsheet.html
*/
/* toolbar */
/* menu */
/* page */
/* header */
/* footer */
/* search */
/* modal (cookies disabled message) */
/*~~~~~ SIZING ~~~~~*/
/*~~~~~~~~~~~~~~~~~~*/
/*
 * generation variables
 * these are modified by the generation process according to Target Settings
*/
/*
 * generic values
 * NVIDIA: customized logo height.
*/
/*
 * header
 * NVIDIA: customized header height.
*/
/*
 * footer
 * NVIDIA custmized footer height, previously 200px.
 * NVIDIA customized footer padding, previously 10px.
*/
/*
 * menu
*/
/*
 * toolbar
 *
 * $toolbar-height should be equal or greater than all other
 * values or the layout will produce unexpected results
*/
/* NVIDIA customization from the Corporate Grey, previously 62px */
/*
 * toolbar - logo section (Menu Button & Logo)
*/
/* NVIDIA kathy modified from 300px */
/*
 * toolbar - search section (Search Scope Selector, Search Input, & Search Button)
*/
/* NVIDIA customization */
/*
 * toolbar - button section (Previous Button, Next Button, Home Button)
*/
/* We want the toolbar width to be $toolbar_button_previous_width + $toolbar_button_next_width + $toolbar_button_home_width + 520px */
/*
 * was this helpful buttons & message
*/
/*
 * page
*/
/*
 * mini toc
*/
/*
 * related topics
*/
/*
 * search
*/
/*
 * lightbox
*/
/*
 * unsupported browser
*/
/*
 * calculated sizes
 *
 * the values in the below section are calculated & dependent upon multiple above values.
*/
/*
 * toolbar
*/
/*
 * menu
*/
/*
 * page
*/
/*~~~~~ COLORS ~~~~~*/
/*~~~~~~~~~~~~~~~~~~*/
/* custom colors                               */
/*                                             */
/* define custom values here for easy tracking */
/* NVIDIA customization as dark green. */
/* Pale grey in the toolbar icons and text, except where we override it */
/* NVIDIA cusotmization as lime green, used in hover. */
/* Charcoal grey used in the TOC font, previously #444142. */
/* Really pale grey used only as the miniTOC background color. */
/* This is the charcoal color in the header and footer background, previously #444142. */
/* This is blue. I replaced references with $nvidia_dark_green. */
/* NOTE: Gradients as background colors are supported through linear/radial-gradient property values.*/
/*       It is suggested to put the gradient value only where it is needed, as it will cause errors  */
/*       if it is used in the darken() or lighten() functions.                                       */
/*       If a gradient value is set for a $_layout_color property, you must remove all darken() and  */
/*       lighten() calls that derive from the gradient, or there will be no color output where those */
/*       properties are used.                                                                        */
/*                                                                                                   */
/*       Usage documentation for Gradients: https://www.w3schools.com/css/css3_gradients.asp         */
/* layout colors: set these for a quick application to the output.                                   */
/*                                                                                                   */
/* this is set to NVIDIA dark green */
/* used for the TOC text color */
/* Defaults for structure items */
/*                              */
/* Mini TOC */
/*          */
/* this is NVIDIA dark green */
/* this is NVIDIA lime green */
/* Related Topics */
/*                */
/* Search Result Highlight */
/*                         */
/* Monochromatic version of NVIDIA Green */
/* colors for specific items */
/*                           */
/* toolbar */
/* menu (nav & toc/index) */
/* page */
/* disqus */
/* search */
/* header */
/* NVIDIA color change to get white text in header */
/* footer */
/* NVIDIA color change to get white text in footer */
/* back-to-top button */
/* progress bar */
/* modal (cookies disabled message) */
/*
 * lightbox
*/
/* unsupported browser */
/* no javascript warning */
/*~~~~~ SIZING ~~~~~*/
/*~~~~~~~~~~~~~~~~~~*/
/*
 * generation variables
 * these are modified by the generation process according to Target Settings
*/
/*
 * generic values
 * NVIDIA: customized logo height.
*/
/*
 * header
 * NVIDIA: customized header height.
*/
/*
 * footer
 * NVIDIA custmized footer height, previously 200px.
 * NVIDIA customized footer padding, previously 10px.
*/
/*
 * menu
*/
/*
 * toolbar
 *
 * $toolbar-height should be equal or greater than all other
 * values or the layout will produce unexpected results
*/
/* NVIDIA customization from the Corporate Grey, previously 62px */
/*
 * toolbar - logo section (Menu Button & Logo)
*/
/* NVIDIA kathy modified from 300px */
/*
 * toolbar - search section (Search Scope Selector, Search Input, & Search Button)
*/
/* NVIDIA customization */
/*
 * toolbar - button section (Previous Button, Next Button, Home Button)
*/
/* We want the toolbar width to be $toolbar_button_previous_width + $toolbar_button_next_width + $toolbar_button_home_width + 520px */
/*
 * was this helpful buttons & message
*/
/*
 * page
*/
/*
 * mini toc
*/
/*
 * related topics
*/
/*
 * search
*/
/*
 * lightbox
*/
/*
 * unsupported browser
*/
/*
 * calculated sizes
 *
 * the values in the below section are calculated & dependent upon multiple above values.
*/
/*
 * toolbar
*/
/*
 * menu
*/
/*
 * page
*/
/* ~~~~ FUNCTIONS ~~~~ */
/*                     */
/*~~~~~ BORDERS ~~~~~*/
/*~~~~~~~~~~~~~~~~~~~*/
/*
  DISCLAIMER: By default, border size properties do not conform with the other size properties of HTML.
  This means that when a border is set on an element with a defined height or width, the final size of
  an element will calculate to HEIGHT/WIDTH + BORDER WIDTH. This has been mitigated as much as possible
  using the 'box-sizing: border-box' property, but there is always a possibility for some instances
  where this will not work. (ex. An element with a border inside another element inside it with a border.
  The toolbar in some skins is like this)

  If widths in this file are to be changed, you understand that this may change the uniformity of the
  layout, and that there may also be height and width properties that also need to be changed in
  _sizes.scss to get the layout to line up properly.


*/
/* Toolbar */
/*         */
/* Toolbar - Logo Section */
/*                        */
/* Toolbar - Search Section */
/*                          */
/* Toolbar - Button Section */
/*                          */
/* Menu */
/*      */
/* Menu - TOC */
/*            */
/* Menu - Index */
/*              */
/* Page */
/*      */
/* Mini TOC */
/*          */
/* NVIDIA customization */
/* Search */
/*        */
/* Header */
/*        */
/* Footer */
/*        */
/* Back to Top */
/*             */
/* Modal */
/*       */
/* Text size adjustments */
html {
  overflow: hidden; }

body {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  margin: 0;
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  color: #222; }

a {
  color: #006445; }
  a:visited {
    color: black; }
  a:hover i {
    color: #76B900; }

i {
  font-size: 16pt; }

/* Progress */
.ww_skin_progress_bar {
  border: 1px solid #50617E;
  width: 100%;
  height: 18px;
  padding: 1px;
  white-space: nowrap; }

.ww_skin_progress_segment {
  float: left;
  position: relative;
  width: 10%;
  height: 100%; }

.ww_skin_progress_segment_pending {
  background-color: transparent; }

@keyframes IndeterminateProgress {
  0% {
    background-color: #ffffff; }
  50% {
    background: #006445; }
  100% {
    background-color: #ffffff; } }

.ww_skin_progress_bar.ww_skin_progress_indeterminate .ww_skin_progress_segment_pending {
  animation: IndeterminateProgress 1s ease infinite; }

.ww_skin_progress_segment_complete {
  background: #006445; }

.ww_skin_button {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

/* Panel Progress */
.ww_skin_panel_progress_background {
  background-color: white;
  margin: 0px 0px 0px 0px;
  padding: 24px 20% 24px 20%; }

.ww_skin_search_background {
  margin: 0;
  padding: 10px; }

.ww_skin_globe_background {
  padding: 16px;
  background-color: white; }

/* Menu Button */
.ww_skin_menu {
  background: linear-gradient(to bottom, #A7A9AC 0%, #717376 50%, #59595B 50%, #444142 100%);
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 0px 1px;
  border-color: transparent #424242 transparent #9B9B9B;
  border-radius: 0px; }
  .ww_skin_menu i {
    font-size: 18pt;
    color: #B9BCC9; }
  .ww_skin_menu:hover {
    background: linear-gradient(to bottom, #444142 0%, #464444 50%, #3E3D3D 50%, #6D6E71 100%);
    border-style: solid;
    border-width: 0px 1px;
    border-color: transparent #424242 transparent #9B9B9B;
    border-radius: 0px; }
    .ww_skin_menu:hover i {
      color: #B9BCC9; }
  .ww_skin_menu:active {
    background: linear-gradient(to bottom, #242122 0%, #464444 50%, #464444 50%, #2D2E31 100%);
    border-style: solid;
    border-width: 0px 1px;
    border-color: transparent #424242 transparent #9B9B9B;
    border-radius: 0px; }
    .ww_skin_menu:active i {
      color: #B9BCC9; }
  .ww_skin_menu i:before {
    content: ""; }

/* TOC Button */
.ww_skin_toc {
  width: 40px;
  height: 40px; }
  .ww_skin_toc i:before {
    content: ""; }

/* Index Button */
.ww_skin_index {
  width: 40px;
  height: 40px; }
  .ww_skin_index i:before {
    content: ""; }

/* Home Button */
.ww_skin_home {
  background: linear-gradient(to bottom, #A7A9AC 0%, #717376 50%, #59595B 50%, #444142 100%);
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 0px 1px;
  border-color: transparent #424242 transparent #9B9B9B;
  border-radius: 0px; }
  .ww_skin_home i {
    font-size: 18pt;
    color: #B9BCC9; }
  .ww_skin_home:hover {
    background: linear-gradient(to bottom, #444142 0%, #464444 50%, #3E3D3D 50%, #6D6E71 100%);
    border-style: solid;
    border-width: 0px 1px;
    border-color: transparent #424242 transparent #9B9B9B;
    border-radius: 0px; }
    .ww_skin_home:hover i {
      color: #B9BCC9; }
  .ww_skin_home:active {
    background: linear-gradient(to bottom, #242122 0%, #464444 50%, #464444 50%, #2D2E31 100%);
    border-style: solid;
    border-width: 0px 1px;
    border-color: transparent #424242 transparent #9B9B9B;
    border-radius: 0px; }
    .ww_skin_home:active i {
      color: #B9BCC9; }
  .ww_skin_home i:before {
    content: ""; }

/* NVIDIA customization: API Button */
.ww_skin_api {
  background: linear-gradient(to bottom, #A7A9AC 0%, #717376 50%, #59595B 50%, #444142 100%);
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 0px 1px;
  border-color: transparent #424242 transparent #9B9B9B;
  border-radius: 0px; }
  .ww_skin_api i {
    font-size: 18pt;
    color: #B9BCC9; }
  .ww_skin_api:hover {
    background: linear-gradient(to bottom, #444142 0%, #464444 50%, #3E3D3D 50%, #6D6E71 100%);
    border-style: solid;
    border-width: 0px 1px;
    border-color: transparent #424242 transparent #9B9B9B;
    border-radius: 0px; }
    .ww_skin_api:hover i {
      color: #B9BCC9; }
  .ww_skin_api:active {
    background: linear-gradient(to bottom, #242122 0%, #464444 50%, #464444 50%, #2D2E31 100%);
    border-style: solid;
    border-width: 0px 1px;
    border-color: transparent #424242 transparent #9B9B9B;
    border-radius: 0px; }
    .ww_skin_api:active i {
      color: #B9BCC9; }
  .ww_skin_api i:before {
    content: ""; }

/* Search Button */
.ww_skin_search {
  background: linear-gradient(to bottom, #A7A9AC 0%, #717376 50%, #59595B 50%, #444142 100%);
  width: 40px;
  height: 40px;
  border-style: none;
  border-width: 0px;
  border-color: transparent;
  border-radius: 0px; }
  .ww_skin_search i {
    font-size: 18pt;
    color: #B9BCC9; }
  .ww_skin_search:hover {
    background: linear-gradient(to bottom, #A7A9AC 0%, #717376 50%, #59595B 50%, #444142 100%);
    border-style: none;
    border-width: 0px;
    border-color: transparent;
    border-radius: 0px; }
    .ww_skin_search:hover i {
      color: #B9BCC9; }
  .ww_skin_search:active {
    background: linear-gradient(to bottom, #A7A9AC 0%, #717376 50%, #59595B 50%, #444142 100%);
    border-style: none;
    border-width: 0px;
    border-color: transparent;
    border-radius: 0px; }
    .ww_skin_search:active i {
      color: #B9BCC9; }
  .ww_skin_search i:before {
    content: ""; }

/* Globe Button */
.ww_skin_globe {
  background: linear-gradient(to bottom, #A7A9AC 0%, #717376 50%, #59595B 50%, #444142 100%);
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 0px 1px;
  border-color: transparent #424242 transparent #9B9B9B;
  border-radius: 0px; }
  .ww_skin_globe i {
    font-size: 18pt;
    color: #B9BCC9; }
  .ww_skin_globe:hover {
    background: linear-gradient(to bottom, #444142 0%, #464444 50%, #3E3D3D 50%, #6D6E71 100%);
    border-style: solid;
    border-width: 0px 1px;
    border-color: transparent #424242 transparent #9B9B9B;
    border-radius: 0px; }
    .ww_skin_globe:hover i {
      color: #B9BCC9; }
  .ww_skin_globe:active {
    background: linear-gradient(to bottom, #242122 0%, #464444 50%, #464444 50%, #2D2E31 100%);
    border-style: solid;
    border-width: 0px 1px;
    border-color: transparent #424242 transparent #9B9B9B;
    border-radius: 0px; }
    .ww_skin_globe:active i {
      color: #B9BCC9; }
  .ww_skin_globe i:before {
    content: ""; }

/* Next Button */
.ww_skin_next {
  background: linear-gradient(to bottom, #A7A9AC 0%, #717376 50%, #59595B 50%, #444142 100%);
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 0px 1px;
  border-color: transparent #424242 transparent #9B9B9B;
  border-radius: 0px; }
  .ww_skin_next i {
    font-size: 18pt;
    color: #B9BCC9; }
  .ww_skin_next:hover {
    background: linear-gradient(to bottom, #444142 0%, #464444 50%, #3E3D3D 50%, #6D6E71 100%);
    border-style: solid;
    border-width: 0px 1px;
    border-color: transparent #424242 transparent #9B9B9B;
    border-radius: 0px; }
    .ww_skin_next:hover i {
      color: #B9BCC9; }
  .ww_skin_next:active {
    background: linear-gradient(to bottom, #242122 0%, #464444 50%, #464444 50%, #2D2E31 100%);
    border-style: solid;
    border-width: 0px 1px;
    border-color: transparent #424242 transparent #9B9B9B;
    border-radius: 0px; }
    .ww_skin_next:active i {
      color: #B9BCC9; }
  .ww_skin_next i:before {
    content: ""; }

/* Previous Button */
.ww_skin_prev {
  background: linear-gradient(to bottom, #A7A9AC 0%, #717376 50%, #59595B 50%, #444142 100%);
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 0px 1px;
  border-color: transparent #424242 transparent #9B9B9B;
  border-radius: 0px; }
  .ww_skin_prev i {
    font-size: 18pt;
    color: #B9BCC9; }
  .ww_skin_prev:hover {
    background: linear-gradient(to bottom, #444142 0%, #464444 50%, #3E3D3D 50%, #6D6E71 100%);
    border-style: solid;
    border-width: 0px 1px;
    border-color: transparent #424242 transparent #9B9B9B;
    border-radius: 0px; }
    .ww_skin_prev:hover i {
      color: #B9BCC9; }
  .ww_skin_prev:active {
    background: linear-gradient(to bottom, #242122 0%, #464444 50%, #464444 50%, #2D2E31 100%);
    border-style: solid;
    border-width: 0px 1px;
    border-color: transparent #424242 transparent #9B9B9B;
    border-radius: 0px; }
    .ww_skin_prev:active i {
      color: #B9BCC9; }
  .ww_skin_prev i:before {
    content: ""; }

/* PDF Button, Email Button, Print Button */
.ww_skin_pdf, .ww_skin_email, .ww_skin_print, .ww_skin_dropdown_toggle {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px; }

.ww_skin_pdf i:before {
  content: ""; }

.ww_skin_email i:before {
  content: ""; }

.ww_skin_print i:before {
  content: ""; }

.ww_skin_dropdown_toggle_open i:before {
  content: ""; }

.ww_skin_dropdown_toggle_closed i:before {
  content: ""; }

.ww_skin_dropdown_toggle_disabled i:before {
  content: ""; }

/* Helpful Button */
#helpful_thumbs_up.ww_skin_was_this_helpful_button i:before {
  content: ""; }

#helpful_thumbs_up.ww_skin_was_this_helpful_button_selected i:before {
  content: ""; }

#helpful_thumbs_down.ww_skin_was_this_helpful_button i:before {
  content: ""; }

#helpful_thumbs_down.ww_skin_was_this_helpful_button_selected i:before {
  content: ""; }

.ww_skin_was_this_helpful_container {
  text-align: right; }

.ww_skin_was_this_helpful_message {
  display: inline-block;
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: 10pt;
  color: #006445; }

.ww_skin_was_this_helpful_buttons_container {
  display: inline-block;
  padding: 0px 5px; }

.ww_skin_was_this_helpful_button {
  display: inline-block;
  padding: 0px 5px 0px 22px;
  color: #B9BCC9;
  font-size: 10pt; }
  .ww_skin_was_this_helpful_button:hover {
    cursor: pointer; }
    .ww_skin_was_this_helpful_button:hover i {
      color: #f3f3f5; }
  .ww_skin_was_this_helpful_button:active {
    color: #7f859d; }

.ww_skin_was_this_helpful_button_selected {
  display: inline-block;
  padding: 0px 5px 0px 22px;
  color: #50535a;
  font-size: 10pt; }

/* Toolbar */
/* NVIDIA customization to remove box shadow. */
#toolbar_div {
  height: 42px;
  background: linear-gradient(to bottom, #A7A9AC 0%, #717376 50%, #59595B 50%, #444142 100%);
  color: #B9BCC9;
  border-style: solid;
  border-width: 1px 0px;
  border-color: #424242 transparent;
  border-radius: 0px; }

.ww_skin_toolbar {
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  padding: 0;
  margin: 0; }
  .ww_skin_toolbar p, .ww_skin_toolbar a, .ww_skin_toolbar span, .ww_skin_toolbar pre {
    font-size: 14pt; }

.ww_skin_toolbar_logo_spacer {
  height: 40px;
  overflow: hidden;
  border-style: none;
  border-width: 0px;
  border-color: transparent;
  border-radius: 0px; }

.ww_skin_menu_button_container {
  display: inline-block;
  vertical-align: top; }

.ww_skin_menu_toggle_button {
  text-decoration: none;
  display: table;
  vertical-align: top;
  text-align: center;
  cursor: pointer; }
  .ww_skin_menu_toggle_button i {
    display: table-cell;
    vertical-align: middle; }

img.ww_skin_toolbar_logo {
  height: 21px;
  width: auto;
  max-height: 40px;
  max-width: 260px; }

div.ww_skin_toolbar_logo {
  display: table-cell;
  vertical-align: middle;
  font-family: 14pt;
  font-size: 14pt;
  color: #B9BCC9;
  height: 21px; }

.ww_skin_toolbar_logo_container {
  height: 40px;
  /* NVIDIA customization.
   Corporate grey used to have this width setting
   But we don't include the logo in our builds.
   width: 100%; */
  width: 0px;
  background: linear-gradient(to bottom, #A7A9AC 0%, #717376 50%, #59595B 50%, #444142 100%);
  /*  max-width: $menu_width - $toolbar_button_menu_width; */
  max-width: 0px;
  display: inline-block;
  border-style: solid;
  border-width: 0px 1px;
  border-color: transparent #424242 transparent #9B9B9B;
  border-radius: 0px;
  padding-top: 9.5px;
  padding-bottom: 9.5px;
  padding-left: 17px; }
  .ww_skin_toolbar_logo_container:hover {
    border-style: solid;
    border-width: 0px 1px;
    border-color: transparent #424242 transparent #9B9B9B;
    border-radius: 0px; }
  .ww_skin_toolbar_logo_container a {
    color: #B9BCC9;
    text-decoration: none; }
    .ww_skin_toolbar_logo_container a .ww_skin_toolbar_logo {
      color: #B9BCC9; }
      .ww_skin_toolbar_logo_container a .ww_skin_toolbar_logo:hover {
        color: #7f859d; }
      .ww_skin_toolbar_logo_container a .ww_skin_toolbar_logo:active {
        color: #f3f3f5; }

/* This is a Corporate Grey customization. */
#layout_div.layout_narrow .ww_skin_toolbar_logo_container {
  display: none; }

.ww_skin_toolbar_cluster {
  white-space: nowrap; }

.ww_skin_toolbar_cluster_search {
  background: linear-gradient(to bottom, #A7A9AC 0%, #717376 50%, #59595B 50%, #444142 100%); }

.ww_skin_toolbar_button_disabled a {
  background: linear-gradient(to bottom, #A7A9AC 0%, #717376 50%, #59595B 50%, #444142 100%);
  color: rgba(57, 60, 74, 0.5);
  cursor: default;
  border-style: solid;
  border-width: 0px 1px;
  border-color: transparent #424242 transparent #9B9B9B;
  border-radius: 0px; }
  .ww_skin_toolbar_button_disabled a i {
    color: rgba(57, 60, 74, 0.5); }
  .ww_skin_toolbar_button_disabled a:hover {
    background: linear-gradient(to bottom, #A7A9AC 0%, #717376 50%, #59595B 50%, #444142 100%);
    color: rgba(57, 60, 74, 0.5);
    border-style: solid;
    border-width: 0px 1px;
    border-color: transparent #424242 transparent #9B9B9B;
    border-radius: 0px; }
    .ww_skin_toolbar_button_disabled a:hover i {
      color: rgba(57, 60, 74, 0.5); }

.ww_skin_toolbar_button_left, .ww_skin_toolbar_button_center, .ww_skin_toolbar_button_right {
  display: inline-block;
  vertical-align: top; }

.ww_skin_search_form {
  display: inline-block;
  width: 100%;
  background: linear-gradient(to bottom, #A7A9AC 0%, #717376 50%, #59595B 50%, #444142 100%);
  border-style: solid;
  border-width: 0px 1px 0px 1px;
  border-color: transparent #424242 transparent #9B9B9B;
  border-radius: 0px; }
  .ww_skin_search_form:hover {
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    border-color: transparent #424242 transparent #9B9B9B;
    border-radius: 0px; }

.ww_skin_search_form_inner {
  width: 100%; }

.ww_skin_search_table {
  border-collapse: collapse;
  border-spacing: 0px;
  border-color: transparent; }

/* NVIDIA customization. Corporate gray set padding-left to 20px. Fonda prefers 8px. */
.ww_skin_search_scope_container {
  display: table-cell;
  vertical-align: middle;
  border-collapse: initial;
  padding-left: 8px;
  padding-right: 0px; }
  .ww_skin_search_scope_container .ww_skin_search_scope_selector {
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    color: #006445;
    background: #FFFFFF;
    height: 38px;
    max-width: 200px;
    min-width: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    border-radius: 3px 0px 0px 3px; }
    .ww_skin_search_scope_container .ww_skin_search_scope_selector .ww_skin_search_scope_selector_value {
      display: table-cell;
      vertical-align: middle;
      padding-left: 5px;
      min-width: calc(100px - 25px);
      max-width: calc(200px - 25px);
      overflow: hidden; }
      .ww_skin_search_scope_container .ww_skin_search_scope_selector .ww_skin_search_scope_selector_value span {
        font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
        font-size: 10pt; }
    .ww_skin_search_scope_container .ww_skin_search_scope_selector .ww_skin_search_scope_selector_caret {
      display: table-cell;
      vertical-align: middle;
      padding-left: 5px;
      padding-right: 5px;
      width: 25px;
      text-align: center; }
      .ww_skin_search_scope_container .ww_skin_search_scope_selector .ww_skin_search_scope_selector_caret i {
        font-size: 10pt;
        color: #006445; }
        .ww_skin_search_scope_container .ww_skin_search_scope_selector .ww_skin_search_scope_selector_caret i:before {
          content: ""; }
    .ww_skin_search_scope_container .ww_skin_search_scope_selector:hover {
      background: #e6e6e6;
      color: #006445;
      border-style: solid;
      border-width: 1px;
      border-color: #e6e6e6;
      border-radius: 3px 0px 0px 3px; }
      .ww_skin_search_scope_container .ww_skin_search_scope_selector:hover i {
        color: #006445; }
  .ww_skin_search_scope_container .ww_skin_search_scope_options {
    display: inline-block;
    position: fixed;
    white-space: initial;
    overflow-y: auto;
    background: #FFFFFF;
    color: #006445;
    min-width: 200px;
    max-width: 400px;
    max-height: 500px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    border-radius: 1px; }
    .ww_skin_search_scope_container .ww_skin_search_scope_options .ww_skin_search_scope_option {
      vertical-align: middle;
      cursor: pointer;
      min-height: 30px;
      background: #FFFFFF;
      color: #006445;
      border-style: none;
      border-width: 0px;
      border-color: transparent;
      border-radius: 0px; }
      .ww_skin_search_scope_container .ww_skin_search_scope_options .ww_skin_search_scope_option:hover {
        background: #e6e6e6;
        color: #006445;
        border-style: none;
        border-width: 0px;
        border-color: transparent;
        border-radius: 0px; }
      .ww_skin_search_scope_container .ww_skin_search_scope_options .ww_skin_search_scope_option .ww_skin_search_scope_input_cell {
        display: table-cell;
        height: 30px;
        vertical-align: middle;
        width: 30px;
        text-align: center; }
        .ww_skin_search_scope_container .ww_skin_search_scope_options .ww_skin_search_scope_option .ww_skin_search_scope_input_cell input {
          margin: 0px;
          vertical-align: middle;
          cursor: pointer; }
      .ww_skin_search_scope_container .ww_skin_search_scope_options .ww_skin_search_scope_option .ww_skin_search_scope_value_cell {
        display: table-cell;
        vertical-align: middle;
        padding-right: 10px; }
        .ww_skin_search_scope_container .ww_skin_search_scope_options .ww_skin_search_scope_option .ww_skin_search_scope_value_cell span {
          font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
          font-size: 10pt; }
      .ww_skin_search_scope_container .ww_skin_search_scope_options .ww_skin_search_scope_option .ww_skin_search_scope_option_spacer {
        display: table-cell; }
        .ww_skin_search_scope_container .ww_skin_search_scope_options .ww_skin_search_scope_option .ww_skin_search_scope_option_spacer.group_level_0 {
          width: 0px; }
        .ww_skin_search_scope_container .ww_skin_search_scope_options .ww_skin_search_scope_option .ww_skin_search_scope_option_spacer.group_level_1 {
          width: 30px; }

.ww_skin_search_input_container {
  font-size: 0;
  width: 99%;
  border: none;
  vertical-align: middle; }

.ww_skin_search_input {
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: 10pt;
  width: 100%;
  height: 38px;
  padding: 2px;
  border-style: inset;
  border-width: 2px;
  border-color: initial;
  border-radius: 0px; }
  .ww_skin_search_input:focus {
    border-style: inset;
    border-width: 2px;
    border-color: initial;
    border-radius: 0px; }

.ww_skin_search_button_container_outer {
  padding: 0px; }

.ww_skin_search_button_container_inner {
  width: 40px; }

.ww_skin_search_button {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.ww_skin_toolbar_button_spacer {
  border-style: none;
  border-width: 0px;
  border-color: transparent;
  border-radius: 0px; }

/* Menu */
#layout_div .ww_skin_menu_frame {
  padding: 8px 0px;
  max-height: calc(100vh - 42px - (8px + 8px)); }

#layout_div.layout_narrow .ww_skin_menu_frame {
  padding: 0px;
  max-height: calc(100vh - 42px); }

.ww_skin_menu_content {
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  background: #FFFFFF;
  color: #B9BCC9;
  padding: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #A4A4A4;
  border-radius: 4px; }
  .ww_skin_menu_content p, .ww_skin_menu_content span, .ww_skin_menu_content a {
    font-size: 10pt; }

.ww_skin_menu_type_selector {
  display: table-row; }

.ww_skin_menu_nav_type {
  display: table-cell;
  text-align: center;
  cursor: pointer;
  background: #FFFFFF;
  border-style: none;
  border-width: 0px;
  border-color: transparent;
  border-radius: 0px; }
  .ww_skin_menu_nav_type:hover {
    background: linear-gradient(to bottom, #444142 0%, #596168 100%);
    border-style: none;
    border-width: 0px;
    border-color: transparent;
    border-radius: 0px; }
  .ww_skin_menu_nav_type:active {
    background: linear-gradient(to bottom, #444142 0%, #596168 100%);
    border-style: none;
    border-width: 0px;
    border-color: transparent;
    border-radius: 0px; }
  .ww_skin_menu_nav_type a {
    color: #B9BCC9; }
    .ww_skin_menu_nav_type a:hover {
      color: #B9BCC9; }
    .ww_skin_menu_nav_type a:active {
      color: #B9BCC9; }
    .ww_skin_menu_nav_type a i {
      font-size: 16pt; }

.ww_skin_menu_nav_type_toc {
  border-style: none solid solid none;
  border-width: 0.5px;
  border-color: transparent #e6e6e6 #e6e6e6 transparent;
  border-radius: 0px; }
  .ww_skin_menu_nav_type_toc i:before {
    content: ""; }
  .ww_skin_menu_nav_type_toc:hover {
    border-style: none solid solid none;
    border-width: 0.5px;
    border-color: transparent #e6e6e6 #e6e6e6 transparent;
    border-radius: 0px; }
  .ww_skin_menu_nav_type_toc:active {
    border-style: none solid solid none;
    border-width: 0.5px;
    border-color: transparent #e6e6e6 #e6e6e6 transparent;
    border-radius: 0px; }

.ww_skin_menu_toc {
  font-size: 16pt;
  display: table-cell;
  vertical-align: middle;
  width: 150px;
  height: 0px; }

.ww_skin_menu_index {
  font-size: 16pt;
  display: table-cell;
  vertical-align: middle;
  width: 150px;
  height: 0px; }

.ww_skin_menu_nav_type_index {
  border-style: none none solid solid;
  border-width: 0.5px;
  border-color: transparent transparent #e6e6e6 #e6e6e6;
  border-radius: 0px; }
  .ww_skin_menu_nav_type_index i:before {
    content: ""; }
  .ww_skin_menu_nav_type_index:hover {
    border-style: none none solid solid;
    border-width: 0.5px;
    border-color: transparent transparent #e6e6e6 #e6e6e6;
    border-radius: 0px; }
  .ww_skin_menu_nav_type_index:active {
    border-style: none none solid solid;
    border-width: 0.5px;
    border-color: transparent transparent #e6e6e6 #e6e6e6;
    border-radius: 0px; }

.ww_skin_toc_background {
  margin: 0;
  padding: 0; }

.ww_skin_index_background {
  margin: 0;
  background: #DCDCDC; }

#index_content {
  padding: 10px; }

/* TOC Entry */
.ww_skin_toc_container {
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  background: #FFFFFF;
  border-style: none;
  border-width: 0px;
  border-color: transparent;
  border-radius: 0px; }
  .ww_skin_toc_container:hover {
    border-style: none;
    border-width: 0px;
    border-color: transparent;
    border-radius: 0px; }

#toc_title {
  color: #006445;
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: 16pt;
  border-style: none;
  border-width: 0px;
  border-color: transparent;
  border-radius: 2px 2px 0 0; }

.ww_skin_toc_level {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.ww_skin_toc_level_1 > li > div {
  padding-left: 8px; }

.ww_skin_toc_level_2 > li > div {
  padding-left: 28px; }

.ww_skin_toc_level_3 > li > div {
  padding-left: 48px; }

.ww_skin_toc_level_4 > li > div {
  padding-left: 68px; }

.ww_skin_toc_level_5 > li > div {
  padding-left: 88px; }

.ww_skin_toc_level_6 > li > div {
  padding-left: 108px; }

.ww_skin_toc_level_7 > li > div {
  padding-left: 128px; }

.ww_skin_toc_level_8 > li > div {
  padding-left: 148px; }

.ww_skin_toc_level_9 > li > div {
  padding-left: 168px; }

.ww_skin_toc_level_10 > li > div {
  padding-left: 188px; }

.ww_skin_toc_level_11 > li > div {
  padding-left: 208px; }

.ww_skin_toc_level_12 > li > div {
  padding-left: 228px; }

.ww_skin_toc_level_13 > li > div {
  padding-left: 248px; }

.ww_skin_toc_level_14 > li > div {
  padding-left: 268px; }

.ww_skin_toc_level_15 > li > div {
  padding-left: 288px; }

.ww_skin_toc_level_16 > li > div {
  padding-left: 308px; }

.ww_skin_toc_entry {
  cursor: pointer;
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: 10pt;
  color: #202124;
  background: #FFFFFF;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  min-height: 30px;
  border-style: none none none solid;
  border-width: 0px;
  border-color: transparent;
  border-radius: 0px; }
  .ww_skin_toc_entry > a {
    text-decoration: none;
    color: #202124; }
    .ww_skin_toc_entry > a:visited {
      color: #202124; }
  .ww_skin_toc_entry > .ww_skin_toc_dropdown {
    font-size: 10pt;
    color: #202124; }
  .ww_skin_toc_entry:hover {
    color: #76B900;
    background: #e6e6e6;
    border-style: none none none solid;
    border-width: 0px;
    border-color: transparent;
    border-radius: 0px; }
    .ww_skin_toc_entry:hover > .ww_skin_toc_dropdown {
      color: #202124; }
    .ww_skin_toc_entry:hover a {
      color: #76B900; }
  .ww_skin_toc_entry:active {
    color: #202124;
    background: #e6e6e6;
    border-style: none none none solid;
    border-width: 0px;
    border-color: rgba(51, 51, 51, 0);
    border-radius: 0px; }
    .ww_skin_toc_entry:active > .ww_skin_toc_dropdown {
      color: #202124; }
    .ww_skin_toc_entry:active a {
      color: #202124; }

.ww_skin_toc_entry_selected {
  cursor: default;
  background: #cccccc;
  color: #202124;
  border-style: none none none solid;
  border-width: 0px;
  border-color: transparent transparent transparent linear-gradient(to bottom, #A7A9AC 0%, #717376 50%, #59595B 50%, #444142 100%);
  border-radius: 0px; }
  .ww_skin_toc_entry_selected > a:link, .ww_skin_toc_entry_selected > a:visited {
    cursor: default;
    color: #202124; }
  .ww_skin_toc_entry_selected > .ww_skin_toc_dropdown {
    cursor: pointer;
    color: #202124; }
  .ww_skin_toc_entry_selected:hover {
    background: #cccccc;
    color: #202124;
    border-style: none none none solid;
    border-width: 0px;
    border-color: transparent transparent transparent linear-gradient(to bottom, #A7A9AC 0%, #717376 50%, #59595B 50%, #444142 100%);
    border-radius: 0px; }
    .ww_skin_toc_entry_selected:hover > .ww_skin_toc_dropdown {
      color: #202124; }
  .ww_skin_toc_entry_selected:active {
    background: #cccccc;
    color: #202124;
    border-style: none none none solid;
    border-width: 0px;
    border-color: transparent transparent transparent linear-gradient(to bottom, #A7A9AC 0%, #717376 50%, #59595B 50%, #444142 100%);
    border-radius: 0px; }
    .ww_skin_toc_entry_selected:active > .ww_skin_toc_dropdown {
      color: #202124; }

.ww_skin_toc_entry_hidden {
  display: none; }

.ww_skin_toc_folder > a {
  display: block;
  margin-left: 20px;
  text-indent: 0; }

.ww_skin_toc_dropdown {
  display: block;
  float: left;
  margin: 0 4px 0 0; }

.ww_skin_toc_dropdown_closed {
  color: #202124; }
  .ww_skin_toc_dropdown_closed i:before {
    content: ""; }

.ww_skin_toc_dropdown_open {
  color: #202124; }
  .ww_skin_toc_dropdown_open i:before {
    content: ""; }

.ww_skin_toc_container_open {
  display: block; }

.ww_skin_toc_container_closed {
  display: none; }

/* Index Entry */
#index {
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  background: #FFFFFF;
  color: #006445;
  border-style: none;
  border-width: 0px;
  border-color: transparent;
  border-radius: 0px; }
  #index:hover {
    border-style: none;
    border-width: 0px;
    border-color: transparent;
    border-radius: 0px; }

.ww_skin_index_title {
  font-weight: bold;
  margin-bottom: 6pt;
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: 16pt;
  color: #006445;
  border-style: none;
  border-width: 0px;
  border-color: transparent;
  border-radius: 0px; }

.ww_skin_index_list {
  margin: 0;
  padding: 0; }

.ww_skin_index_list_group {
  margin: 0 0 6pt 12pt;
  padding: 0; }

.ww_skin_index_list_entry {
  margin: 0 0 0 12pt;
  padding: 0; }

.ww_skin_index_group, .ww_skin_index_entry {
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: 10pt;
  color: #006445; }

.ww_skin_index_link {
  color: #006445;
  text-decoration: underline; }
  .ww_skin_index_link:visited {
    color: #31ffbf; }
  .ww_skin_index_link:hover {
    color: #00ca8b; }

/* Page Dropdown */
.ww_skin_dropdown_arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: text-bottom;
  font-size: 14pt;
  color: #006445;
  padding-left: 5px;
  text-indent: 0; }
  .ww_skin_dropdown_arrow:hover {
    color: black;
    cursor: pointer; }
  .ww_skin_dropdown_arrow:active {
    color: #00ca8b; }
  .ww_skin_dropdown_arrow i {
    vertical-align: top; }

.ww_skin_page_dropdown_arrow_expanded i:before {
  content: ""; }

.ww_skin_page_dropdown_arrow_collapsed i:before {
  content: ""; }

.ww_skin_page_dropdown_div_expanded {
  display: block; }

.ww_skin_page_dropdown_div_collapsed {
  display: none; }

.ww_skin_page_back_to_top {
  cursor: pointer;
  float: right;
  padding: 8px;
  display: block;
  background: linear-gradient(to bottom, #A7A9AC 0%, #717376 50%, #59595B 50%, #444142 100%);
  border-style: none;
  border-width: 0px;
  border-color: transparent;
  border-radius: 0px; }
  .ww_skin_page_back_to_top:hover {
    background: linear-gradient(to bottom, #A7A9AC 0%, #717376 50%, #59595B 50%, #444142 100%);
    border-style: none;
    border-width: 0px;
    border-color: transparent;
    border-radius: 0px; }
  .ww_skin_page_back_to_top > a:link, .ww_skin_page_back_to_top > a:visited, .ww_skin_page_back_to_top > a:link:hover, .ww_skin_page_back_to_top > a:visited:hover {
    text-decoration: none;
    color: white; }

/* Lightbox */
.ww_skin_lightbox_background {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7); }

.ww_skin_lightbox_close_container {
  position: absolute;
  right: 0; }

.ww_skin_lightbox_close {
  font-size: 14pt;
  color: #76B900;
  width: 40px;
  height: 40px;
  display: table-cell;
  vertical-align: middle;
  text-align: center; }
  .ww_skin_lightbox_close:hover {
    background-color: rgba(255, 255, 255, 0.1); }
  .ww_skin_lightbox_close i:before {
    content: ""; }

.ww_skin_lightbox_content {
  height: 100vh;
  width: 100vw;
  display: table-cell;
  vertical-align: middle;
  text-align: center; }
  .ww_skin_lightbox_content img {
    max-width: 80vw;
    max-height: 80vh; }

/* Page */
#page_div {
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  background: #FFFFFF;
  border-style: none;
  border-width: 0px;
  border-color: transparent;
  border-radius: 0px; }

#page_content_container {
  padding: 10px 10px 10px 10px; }

#page_content_container > * {
  display: block;
  width: 100%;
  max-width: 900px;
  margin: 0 auto; }

.ww_skin_page_body {
  margin: 0;
  word-wrap: break-word;
  overflow: hidden; }

.ww_skin_page_overflow {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  min-width: 1px;
  max-width: calc(100vw - (10px + 10px)); }

.ww_skin_breadcrumbs {
  text-align: left;
  font-weight: bold;
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: 10pt;
  padding: 8px 12px 4px 12px;
  background: #FFFFFF;
  color: #006445;
  border-style: none;
  border-width: 0px;
  border-color: transparent;
  border-radius: 0px; }

.ww_skin_breadcrumbs a:link {
  color: #006445;
  text-decoration: none; }

.ww_skin_breadcrumbs a:visited {
  color: #006445;
  text-decoration: none; }

.ww_skin_breadcrumbs a:link:hover {
  color: #76B900;
  text-decoration: underline; }

.ww_skin_breadcrumbs a:visited:hover {
  color: #006445;
  text-decoration: underline; }

.ww_skin_page_toolbar {
  text-align: right;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: 14pt;
  padding: 5px 0px 5px 0px;
  border-style: none;
  border-width: 0px;
  border-color: transparent;
  border-radius: 0px; }
  .ww_skin_page_toolbar a {
    color: #B9BCC9; }
    .ww_skin_page_toolbar a:hover {
      color: #f3f3f5; }
    .ww_skin_page_toolbar a:active {
      color: #7f859d; }
  .ww_skin_page_toolbar a.ww_skin_dropdown_toggle_disabled {
    color: white;
    cursor: default; }
    .ww_skin_page_toolbar a.ww_skin_dropdown_toggle_disabled:hover {
      color: white; }
    .ww_skin_page_toolbar a.ww_skin_dropdown_toggle_disabled:active {
      color: white; }
  .ww_skin_page_toolbar i {
    font-size: 16pt; }

#dropdown_button_container {
  display: inline-block; }

.dropdown_button_container_enabled {
  visibility: visible; }

.dropdown_button_container_disabled {
  visibility: hidden; }

.ww_skin_page_toolbar_divider {
  display: inline-block;
  width: 1px;
  height: 24px;
  margin-left: 6px;
  margin-right: 6px;
  background: #B9BCC9; }

.ww_skin_page_globalization {
  display: none; }

.ww_skin_page_publish_date {
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: 10pt;
  color: #f3f3f5;
  text-align: right; }

.ww_skin_document_last_modified_date {
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: 10pt;
  color: #f3f3f5;
  text-align: right; }

/* Splash */
.ww_skin_splash_container {
  text-align: center; }

.ww_skin_splash_content {
  text-align: initial;
  display: inline-block;
  width: 100%;
  max-width: 900px; }

/* Disqus */
div#disqus_thread {
  background: #f0f0f0;
  padding: 10px;
  text-align: center;
  height: 320px;
  overflow-y: auto; }

/* Header */
.ww_skin_header {
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: 16pt;
  height: 100%;
  background: #202124;
  color: #FFFFFF;
  padding: 0px;
  border-style: none;
  border-width: 0px;
  border-color: transparent;
  border-radius: 0px; }
  .ww_skin_header i {
    font-size: 10pt; }

/* NVIDIA for moniker in heading */
.ww_skin_header_moniker {
  font-size: 10pt; }

.ww_skin_header a {
  color: #006445; }
  .ww_skin_header a:visited {
    color: black; }

.ww_skin_header_logo_container_outer {
  height: 70px;
  display: table-cell;
  vertical-align: middle; }

.ww_skin_header_logo_container {
  padding: 10px;
  display: inline-block; }
  .ww_skin_header_logo_container img {
    height: 21px;
    width: auto; }

.ww_skin_header_connect_info {
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: 16pt;
  padding: 10px;
  float: right; }

.ww_skin_header_connect_info_icon {
  text-align: center; }

.ww_skin_header_connect_info_content {
  padding: 0px 5px; }

.ww_skin_nvidia_doc_title {
  padding: 10px 20px 0px 0px;
  text-align: right; }

/* Footer Company Info */
.ww_skin_header_company_logo {
  text-align: left;
  margin: 8px 8px 8px 0; }
  .ww_skin_header_company_logo > a:link {
    color: #006445; }
  .ww_skin_header_company_logo > a:visited {
    color: black; }

.ww_skin_header_company_name > a:link {
  color: #006445; }

.ww_skin_header_company_name > a:visited {
  color: black; }

.ww_skin_header_company_phone {
  padding: 5px 0px 0px 0px; }
  .ww_skin_header_company_phone i:before {
    content: ""; }

.ww_skin_header_company_fax {
  padding: 5px 0px 0px 0px; }
  .ww_skin_header_company_fax i:before {
    content: ""; }

.ww_skin_header_company_email {
  padding: 5px 0px; }
  .ww_skin_header_company_email > a:link {
    color: #006445; }
  .ww_skin_header_company_email > a:visited {
    color: black; }
  .ww_skin_header_company_email i:before {
    content: ""; }

/* Footer */
.ww_skin_footer {
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: 10pt;
  height: 40px;
  background: #202124;
  color: #FFFFFF;
  padding: 4px;
  border-style: none;
  border-width: 0px;
  border-color: transparent;
  border-radius: 0px; }
  .ww_skin_footer i {
    font-size: 10pt; }

.nvidia_footer_left {
  position: top;
  text-align: left;
  font-size: x-small; }

.nvidia_footer_right {
  position: top;
  text-align: right;
  padding-right: 70px;
  font-size: x-small; }

.nvidia_footer_center {
  text-align: center;
  font-size: x-small; }

.ww_skin_footer a {
  color: #006445; }
  .ww_skin_footer a:visited {
    color: black; }

.ww_skin_footer_logo_container {
  padding: 0px; }
  .ww_skin_footer_logo_container img {
    height: 21px;
    width: auto; }

.ww_skin_footer_connect_info {
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: 10pt;
  padding: 0px; }

.ww_skin_footer_connect_message {
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: 10pt;
  padding: 10px 0px; }

.ww_skin_footer_connect_info_icon {
  text-align: center; }

.ww_skin_footer_connect_info_content {
  padding: 0px 5px; }

/* Footer Company Info */
.ww_skin_footer_company_logo {
  text-align: left;
  margin: 8px 8px 8px 0; }
  .ww_skin_footer_company_logo > a:link {
    color: #006445; }
  .ww_skin_footer_company_logo > a:visited {
    color: black; }

.ww_skin_footer_company_name > a:link {
  color: #006445; }

.ww_skin_footer_company_name > a:visited {
  color: black; }

.ww_skin_footer_company_phone {
  padding: 5px 0px 0px 0px; }
  .ww_skin_footer_company_phone i:before {
    content: ""; }

.ww_skin_footer_company_fax {
  padding: 5px 0px 0px 0px; }
  .ww_skin_footer_company_fax i:before {
    content: ""; }

.ww_skin_footer_company_email {
  padding: 5px 0px; }
  .ww_skin_footer_company_email > a:link {
    color: #006445; }
  .ww_skin_footer_company_email > a:visited {
    color: black; }
  .ww_skin_footer_company_email i:before {
    content: ""; }

.ww_skin_footer_end_content hr {
  border-color: #50535a; }

.ww_skin_footer_publish_date {
  color: #50535a;
  padding: 0px; }

.ww_skin_footer_company_copyright {
  color: #50535a;
  padding: 0px; }

/* Modal Background */
.ww_skin_modal_background {
  background: black;
  background: rgba(0, 0, 0, 0.4);
  border-style: none;
  border-width: 0px;
  border-color: transparent;
  border-radius: 0px; }

/* Modal Content */
.ww_skin_modal_content {
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  color: #B9BCC9;
  background: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

/* Modal Close Button */
.ww_skin_modal_btn {
  cursor: pointer;
  font-weight: bold;
  font-size: 20pt;
  color: #B9BCC9; }
  .ww_skin_modal_btn:hover, .ww_skin_modal_btn:focus {
    color: #9ca0b3;
    text-decoration: none; }
  .ww_skin_modal_btn:active {
    color: #d6d8df; }

.ww_skin_modal_header {
  text-align: center; }
  .ww_skin_modal_header i {
    font-size: 55pt;
    color: #006445; }
  .ww_skin_modal_header i:before {
    content: ""; }

.ww_skin_modal_body {
  text-align: center;
  font-size: 10pt; }

.ww_skin_retry_btn {
  cursor: pointer;
  background: #B9BCC9;
  color: #006445;
  font-size: 14pt;
  border-style: none; }
  .ww_skin_retry_btn:hover {
    background: #9ca0b3;
    color: #003122; }
  .ww_skin_retry_btn:active {
    background: #d6d8df;
    color: #009768; }

.ww_skin_info_text_title {
  font-size: 16pt; }

.ww_skin_unsupported_browser {
  padding: 40px; }
  .ww_skin_unsupported_browser .ww_skin_unsupported_browser_heading {
    font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
    font-size: 16pt;
    padding: 10px 0px;
    color: #006445; }
  .ww_skin_unsupported_browser .ww_skin_unsupported_browser_message {
    font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
    font-size: 10pt;
    padding: 10px 0px;
    color: #006445; }

/* No JavaScript */
#noscript_padding {
  padding-top: 1.9em; }

#noscript_warning {
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-weight: bold;
  color: #006445;
  background: #ae0000; }
