@charset "UTF-8";
/*~~~~~ COLORS ~~~~~*/
/*~~~~~~~~~~~~~~~~~~*/
/* custom colors                               */
/*                                             */
/* define custom values here for easy tracking */
/* NVIDIA customization as dark green. */
/* Pale grey in the toolbar icons and text, except where we override it */
/* NVIDIA cusotmization as lime green, used in hover. */
/* Charcoal grey used in the TOC font, previously #444142. */
/* Really pale grey used only as the miniTOC background color. */
/* This is the charcoal color in the header and footer background, previously #444142. */
/* This is blue. I replaced references with $nvidia_dark_green. */
/* NOTE: Gradients as background colors are supported through linear/radial-gradient property values.*/
/*       It is suggested to put the gradient value only where it is needed, as it will cause errors  */
/*       if it is used in the darken() or lighten() functions.                                       */
/*       If a gradient value is set for a $_layout_color property, you must remove all darken() and  */
/*       lighten() calls that derive from the gradient, or there will be no color output where those */
/*       properties are used.                                                                        */
/*                                                                                                   */
/*       Usage documentation for Gradients: https://www.w3schools.com/css/css3_gradients.asp         */
/* layout colors: set these for a quick application to the output.                                   */
/*                                                                                                   */
/* this is set to NVIDIA dark green */
/* used for the TOC text color */
/* Defaults for structure items */
/*                              */
/* Mini TOC */
/*          */
/* this is NVIDIA dark green */
/* this is NVIDIA lime green */
/* Related Topics */
/*                */
/* Search Result Highlight */
/*                         */
/* Monochromatic version of NVIDIA Green */
/* colors for specific items */
/*                           */
/* toolbar */
/* menu (nav & toc/index) */
/* page */
/* disqus */
/* search */
/* header */
/* NVIDIA color change to get white text in header */
/* footer */
/* NVIDIA color change to get white text in footer */
/* back-to-top button */
/* progress bar */
/* modal (cookies disabled message) */
/*
 * lightbox
*/
/* unsupported browser */
/* no javascript warning */
/*~~~~~ FONTS ~~~~~*/
/*~~~~~~~~~~~~~~~~~*/
/*
 * toolbar
*/
/*
 * menu (nav & toc/index)
*/
/*
 * page
*/
/*
 * mini toc
*/
/*
 * related topics
*/
/*
 * search
*/
/*
 * header
*/
/* NVIDIA */
/*
 * footer
*/
/*
 * lightbox
*/
/*
 * unsupported browser
*/
/*
 * modal (cookies disabled message)
*/
/*~~~~~ ICONS ~~~~~*/
/*~~~~~~~~~~~~~~~~~*/
/*
  This file contains the character codes applied to the icons in the output.

  Usage: Find the character code of the icon to be used in the font-awesome cheatsheet.
         The 4-character code is next to it's respective icon.
         (ex: f002 for search)
         Apply to variable value in quotes and a leading backslash
         (ex: "\f002")

  font-awesome cheatsheet: https://fontawesome.com/v4.7.0/cheatsheet/

  The cheatsheet can also be found in the ePublisher Installation Directory at:

  <Install Location>/WebWorks/ePublisher/<version>/Helpers/font-awesome/Font Awesome Cheatsheet.html
*/
/* toolbar */
/* menu */
/* page */
/* header */
/* footer */
/* search */
/* modal (cookies disabled message) */
/*~~~~~ SIZING ~~~~~*/
/*~~~~~~~~~~~~~~~~~~*/
/*
 * generation variables
 * these are modified by the generation process according to Target Settings
*/
/*
 * generic values
 * NVIDIA: customized logo height.
*/
/*
 * header
 * NVIDIA: customized header height.
*/
/*
 * footer
 * NVIDIA custmized footer height, previously 200px.
 * NVIDIA customized footer padding, previously 10px.
*/
/*
 * menu
*/
/*
 * toolbar
 *
 * $toolbar-height should be equal or greater than all other
 * values or the layout will produce unexpected results
*/
/* NVIDIA customization from the Corporate Grey, previously 62px */
/*
 * toolbar - logo section (Menu Button & Logo)
*/
/* NVIDIA kathy modified from 300px */
/*
 * toolbar - search section (Search Scope Selector, Search Input, & Search Button)
*/
/* NVIDIA customization */
/*
 * toolbar - button section (Previous Button, Next Button, Home Button)
*/
/* We want the toolbar width to be $toolbar_button_previous_width + $toolbar_button_next_width + $toolbar_button_home_width + 520px */
/*
 * was this helpful buttons & message
*/
/*
 * page
*/
/*
 * mini toc
*/
/*
 * related topics
*/
/*
 * search
*/
/*
 * lightbox
*/
/*
 * unsupported browser
*/
/*
 * calculated sizes
 *
 * the values in the below section are calculated & dependent upon multiple above values.
*/
/*
 * toolbar
*/
/*
 * menu
*/
/*
 * page
*/
/*~~~~~ COLORS ~~~~~*/
/*~~~~~~~~~~~~~~~~~~*/
/* custom colors                               */
/*                                             */
/* define custom values here for easy tracking */
/* NVIDIA customization as dark green. */
/* Pale grey in the toolbar icons and text, except where we override it */
/* NVIDIA cusotmization as lime green, used in hover. */
/* Charcoal grey used in the TOC font, previously #444142. */
/* Really pale grey used only as the miniTOC background color. */
/* This is the charcoal color in the header and footer background, previously #444142. */
/* This is blue. I replaced references with $nvidia_dark_green. */
/* NOTE: Gradients as background colors are supported through linear/radial-gradient property values.*/
/*       It is suggested to put the gradient value only where it is needed, as it will cause errors  */
/*       if it is used in the darken() or lighten() functions.                                       */
/*       If a gradient value is set for a $_layout_color property, you must remove all darken() and  */
/*       lighten() calls that derive from the gradient, or there will be no color output where those */
/*       properties are used.                                                                        */
/*                                                                                                   */
/*       Usage documentation for Gradients: https://www.w3schools.com/css/css3_gradients.asp         */
/* layout colors: set these for a quick application to the output.                                   */
/*                                                                                                   */
/* this is set to NVIDIA dark green */
/* used for the TOC text color */
/* Defaults for structure items */
/*                              */
/* Mini TOC */
/*          */
/* this is NVIDIA dark green */
/* this is NVIDIA lime green */
/* Related Topics */
/*                */
/* Search Result Highlight */
/*                         */
/* Monochromatic version of NVIDIA Green */
/* colors for specific items */
/*                           */
/* toolbar */
/* menu (nav & toc/index) */
/* page */
/* disqus */
/* search */
/* header */
/* NVIDIA color change to get white text in header */
/* footer */
/* NVIDIA color change to get white text in footer */
/* back-to-top button */
/* progress bar */
/* modal (cookies disabled message) */
/*
 * lightbox
*/
/* unsupported browser */
/* no javascript warning */
/*~~~~~ SIZING ~~~~~*/
/*~~~~~~~~~~~~~~~~~~*/
/*
 * generation variables
 * these are modified by the generation process according to Target Settings
*/
/*
 * generic values
 * NVIDIA: customized logo height.
*/
/*
 * header
 * NVIDIA: customized header height.
*/
/*
 * footer
 * NVIDIA custmized footer height, previously 200px.
 * NVIDIA customized footer padding, previously 10px.
*/
/*
 * menu
*/
/*
 * toolbar
 *
 * $toolbar-height should be equal or greater than all other
 * values or the layout will produce unexpected results
*/
/* NVIDIA customization from the Corporate Grey, previously 62px */
/*
 * toolbar - logo section (Menu Button & Logo)
*/
/* NVIDIA kathy modified from 300px */
/*
 * toolbar - search section (Search Scope Selector, Search Input, & Search Button)
*/
/* NVIDIA customization */
/*
 * toolbar - button section (Previous Button, Next Button, Home Button)
*/
/* We want the toolbar width to be $toolbar_button_previous_width + $toolbar_button_next_width + $toolbar_button_home_width + 520px */
/*
 * was this helpful buttons & message
*/
/*
 * page
*/
/*
 * mini toc
*/
/*
 * related topics
*/
/*
 * search
*/
/*
 * lightbox
*/
/*
 * unsupported browser
*/
/*
 * calculated sizes
 *
 * the values in the below section are calculated & dependent upon multiple above values.
*/
/*
 * toolbar
*/
/*
 * menu
*/
/*
 * page
*/
/* ~~~~ FUNCTIONS ~~~~ */
/*                     */
/*~~~~~ BORDERS ~~~~~*/
/*~~~~~~~~~~~~~~~~~~~*/
/*
  DISCLAIMER: By default, border size properties do not conform with the other size properties of HTML.
  This means that when a border is set on an element with a defined height or width, the final size of
  an element will calculate to HEIGHT/WIDTH + BORDER WIDTH. This has been mitigated as much as possible
  using the 'box-sizing: border-box' property, but there is always a possibility for some instances
  where this will not work. (ex. An element with a border inside another element inside it with a border.
  The toolbar in some skins is like this)

  If widths in this file are to be changed, you understand that this may change the uniformity of the
  layout, and that there may also be height and width properties that also need to be changed in
  _sizes.scss to get the layout to line up properly.


*/
/* Toolbar */
/*         */
/* Toolbar - Logo Section */
/*                        */
/* Toolbar - Search Section */
/*                          */
/* Toolbar - Button Section */
/*                          */
/* Menu */
/*      */
/* Menu - TOC */
/*            */
/* Menu - Index */
/*              */
/* Page */
/*      */
/* Mini TOC */
/*          */
/* NVIDIA customization */
/* Search */
/*        */
/* Header */
/*        */
/* Footer */
/*        */
/* Back to Top */
/*             */
/* Modal */
/*       */
body {
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: 10pt; }

a:link {
  color: #006445; }
  a:link:active {
    color: #00ca8b; }

a:visited {
  color: black; }

a:link:hover, a:visited:hover {
  color: #76B900; }

span.WebWorks_Number {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-indent: 0;
  vertical-align: bottom; }

div.WebWorks_Table {
  border: 1px solid #000000; }

div.WebWorks_Table_Row {
  clear: left; }

div.WebWorks_Table_Cell {
  float: left; }

div.WebWorks_Table_End {
  clear: both;
  font-size: 1px; }

div.WebWorks_MiniTOC {
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: 10pt;
  margin: 0 20px 20px 44px;
  padding: 0;
  background: #f0f0f0;
  border-style: solid;
  border-width: 1px;
  border-color: #f0f0f0;
  border-radius: 0px; }

div.WebWorks_MiniTOC_Heading {
  display: none; }

dl.WebWorks_MiniTOC_List {
  margin: 0;
  padding: 0 0 0 16px; }

div.WebWorks_MiniTOC > dl.WebWorks_MiniTOC_List {
  padding-left: 0; }

dl.WebWorks_MiniTOC_List > dd {
  margin: 0;
  padding: 0px 8px; }

div.WebWorks_MiniTOC_Entry {
  cursor: pointer;
  padding: 5px;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #f0f0f0;
  border-radius: 0px; }

div.WebWorks_MiniTOC > dl.WebWorks_MiniTOC_List > dd:first-child > div.WebWorks_MiniTOC_Entry {
  border-width: 0; }

div.WebWorks_MiniTOC_Entry:hover {
  background: #e3e3e3; }

a.WebWorks_MiniTOC_Link:link {
  color: #006445;
  text-decoration: none; }

a.WebWorks_MiniTOC_Link:visited {
  color: #006445;
  text-decoration: none; }

div.WebWorks_MiniTOC_Entry:hover > a.WebWorks_MiniTOC_Link:link {
  color: #76B900; }

div.WebWorks_MiniTOC_Entry:hover > a.WebWorks_MiniTOC_Link:visited {
  color: #76B900; }

.Related_Topics {
  padding: 40px 0px;
  border-top: none transparent 0px;
  border-right: none transparent 0px;
  border-bottom: none transparent 0px;
  border-left: none transparent 0px;
  border-radius: 0px 0px 0px 0px; }

.Related_Topics_Title {
  font-weight: bold;
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: 10pt;
  color: #B9BCC9;
  background: linear-gradient(to bottom, #A7A9AC 0%, #717376 50%, #59595B 50%, #444142 100%);
  padding: 10px;
  border-top: none transparent 0px;
  border-right: none transparent 0px;
  border-bottom: none transparent 0px;
  border-left: none transparent 0px;
  border-radius: 0px 0px 0px 0px; }
  .Related_Topics_Title .ww_skin_dropdown_arrow i {
    color: #B9BCC9; }

.Related_Topics_List {
  padding: 5px 0px;
  border-top: none;
  border-right: solid #f0f0f0 1px;
  border-bottom: solid #f0f0f0 1px;
  border-left: solid #f0f0f0 1px;
  border-radius: 0px 0px 0px 0px; }

.Related_Topics_Entry {
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  font-size: 10pt;
  padding: 5px 10px;
  border-top: none transparent 0px;
  border-right: none transparent 0px;
  border-bottom: none transparent 0px;
  border-left: none transparent 0px;
  border-radius: 0px 0px 0px 0px; }
  .Related_Topics_Entry a:link, .Related_Topics_Entry a:visited {
    color: #006445; }
  .Related_Topics_Entry a:hover:link, .Related_Topics_Entry a:hover:visited {
    color: #00ca8b; }
  .Related_Topics_Entry i {
    color: #B9BCC9;
    padding: 0px 10px 0px 0px; }
    .Related_Topics_Entry i:before {
      content: ""; }

span#social_linkedin {
  margin-right: 12pt;
  vertical-align: -7px; }

.Search_Result_Highlight {
  background-color: #a5ff06; }

#noscript_padding {
  padding-top: 1.9em; }

#noscript_warning {
  font-family: Trebuchet MS, Arial, FreeSans, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;
  text-align: center;
  font-weight: bold;
  color: #006445;
  background-color: #ae0000;
  padding: 5px 0 5px 0; }

a object[type="image/svg+xml"] {
  pointer-events: none; }
